/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 3:03:39 PM
    Author     : Code Blue
*/

#updateTicketForm td{
    border: none !important;
}

#assignLabel {
    font-weight: normal !important;
}

.jumbotron {
    display:flex;
    justify-content:center;
    align-items:center;
}


#ticketList {
    border-collapse: collapse;
    width: 100%;
}

#ticketList th, #ticketList td{
    
    padding: 10px;
}


#filter {
  display: flex; 
  flex-direction: row;
}